{% extends "base.html" %}

{% block search_bar %}

{% endblock search_bar %}

{% block content %}

<!-- Property display section -->
<section>
  <div class="row columns">
    {% for property in properties %}
      {% if properties|length > 2 %}
      <div class="column is-one-third">
      {% elif properties|length == 2 %}
      <div class="column is-half">
      {% else %}
      <div class="column is-full">
      {% endif %}
        <div class="card">
          <div class="card-image">
            <figure class="image is-2by1">
              <img src="http://localhost:8000/{{ property.get_all_images.0.file }}">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">{{ property.name }}</p>
                </div>
            </div>
            <div class="content">
                {{ property.kicker }}
                {% if property.profile.user == request.user %}
                  <a href="{% url 'property_edit' property.id %}">
                    <button class="button is-info is-medium" type="submit">Edit</button>
                  </a>
                  {% if property.is_published %}
                  <a href="{% url 'property_activate' property.id %}">
                    <button class="button is-danger is-medium" type="submit">Deactivate</button>
                  </a>
                  {% else %}
                  <a href="{% url 'property_activate' property.id %}">
                    <button class="button is-primary is-medium" type="submit">Activate</button>
                  </a>
                  {% endif %}
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>
</section>
<!-- End property display section -->

{% endblock content %}
